.admin {
    color: map-get($colors, text);

    .mt-30 {
        margin-top: 30px;
    }

    h4 {
        font-size: map-get($font-sizes, little);
    }

    header,
    nav {
        background-color: map-get($colors, admin-nav);
    }

    header {
        padding: 10px 15px;
        font-size: map-get($font-sizes, smallest);
    }

    nav {
        min-height: calc(100vh - 48px);
        
        ul {
            list-style-type: none;

            li {
                margin: 5px 0 5px;
            }
        }

        h6 {
            font-size: map-get($font-sizes, basic);
        }
    }

    .js-alert {
        width: 300px;
        background-color: rgba(69, 90, 100, .9);
        padding: 20px 30px;
        z-index: 1000;
        position: absolute;
        box-shadow: 5px 5px 5px #333;
        left: 28%;
        font-size: map-get($font-sizes, basic);
        color: #fff;
        display: none;
    }

    .admin-content {
        padding: 40px 60px;
        background-color: map-get($colors, admin-main);        
        box-shadow: inset 10px 10px 10px map-get($colors, shadow);
    }

    .basic-btn,
    .basic-btn:focus,
    .basic-btn:active,
    .basic-btn:visited {
        background-color: map-get($colors, admin-nav);
        border: 1px solid map-get($colors, admin-nav);
        color: map-get($colors, text);
        font-size: map-get($font-sizes, smallest);

        &:hover {
            text-decoration: none;
            border: 1px solid lighten( map-get($colors, admin-main), 40% );
            background-color: map-get($colors, admin-main);
            border-radius: 2px;
        }
    }

    .btn-active {
        text-decoration: none;
        border: 1px solid lighten( map-get($colors, admin-main), 40% );
        background-color: map-get($colors, admin-main);
        border-radius: 2px;
        font-size: map-get($font-sizes, smallest);
        color: map-get($colors, text);
    }

    .logo {
        color: map-get($colors, text);
        
        &:hover {
            text-decoration: none;
        }
    }

    .btn-img {
        width: 20px;
    }
}