$font-sizes: (
	large: 2.5rem,
	big: 2rem,
	little: 1.5rem,
	basic: 1.25rem,
	smallest: 1.1rem,
);

$colors: (
	// aside-main: #E8EAF6,
	aside-main: #f7f8fc,
	footer: #000,
	bs-font: #212529,
	white: #fff,
	gray: rgba(0, 0, 0, .5),

	admin-main: #546E7A,
	admin-nav: #455A64,
	shadow: #37474F,
	text: #263238,
)
